Repository fshabanov/Inquire-Test-Task: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:server:js, npm run lint:client:css, npm run lint:client:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'server/**/*.ts': npm run lint:server:js
'client/**/*.scss': npm run lint:client:css
'client/**/*.{ts,tsx}': npm run lint:client:js

Fix folder structure of server, fix types of packages
  server/package-lock.json
  server/package.json
  server/src/app.controller.spec.ts
  server/src/controllers/app.controller.ts
  server/src/main.ts
  server/src/modules/app.module.ts
  server/src/services/app.service.ts
  server/test/app.e2e-spec.ts
  server/test/jest-e2e.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Connect to DB using typeorm
  server/.env.example
  server/package-lock.json
  server/package.json
  server/src/common/enums/app/env.enum.ts
  server/src/common/enums/enums.ts
  server/src/main.ts
  server/src/modules/app.module.ts
  server/src/typeorm.config.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Add Posts table
  server/src/common/enums/db/db-table-name.enum.ts
  server/src/common/enums/db/db.ts
  server/src/common/enums/enums.ts
  server/src/data/migrations/1681490527777-create_posts_table.ts
  server/src/entities/base/base.entity.ts
  server/src/entities/entities.ts
  server/src/entities/post/post.entity.ts
  server/src/modules/app.module.ts
  server/src/typeorm.config.ts
  server/tsconfig.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Create post API
  client/package-lock.json
  client/package.json
  package.json
  server/package-lock.json
  server/package.json
  server/src/common/dtos/dtos.ts
  server/src/common/dtos/post/post-create-request.dto.ts
  server/src/common/dtos/post/post.ts
  server/src/common/enums/api/api.ts
  server/src/common/enums/enums.ts
  server/src/controllers/app/app.controller.ts
  server/src/controllers/post/post.controller.ts
  server/src/helpers/helpers.ts
  server/src/helpers/sanitize-html/sanitize-html.ts
  server/src/main.ts
  server/src/modules/app/app.module.ts
  server/src/modules/post/post.module.ts
  server/src/services/app/app.service.ts
  server/src/services/post/post.service.ts
  shared/.eslintrc.yml
  shared/.gitignore
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/enums.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/sanitize-html/sanitize-html.helper.ts
  shared/tsconfig.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:server:js

Get all posts API
  server/src/controllers/post/post.controller.ts
  server/src/modules/app/app.module.ts
  server/src/services/post/post.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Get post by id API
  server/src/common/enums/enums.ts
  server/src/common/enums/post/post-error-message.enum.ts
  server/src/common/enums/post/post.ts
  server/src/controllers/post/post.controller.ts
  server/src/services/post/post.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Refactor imports, exports
  server/src/common/decorators/decorators.ts
  server/src/common/types/types.ts
  server/src/controllers/app/app.controller.ts
  server/src/entities/base/base.entity.ts
  server/src/entities/post/post.entity.ts
  server/src/exceptions/exceptions.ts
  server/src/modules/app/app.module.ts
  server/src/modules/modules.ts
  server/src/modules/post/post.module.ts
  server/src/services/app/app.service.ts
  server/src/services/post/post.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Update post API
  server/src/common/decorators/decorators.ts
  server/src/common/dtos/dtos.ts
  server/src/common/dtos/post/post-create-request.dto.ts
  server/src/common/dtos/post/post-update-request.dto.ts
  server/src/common/dtos/post/post.ts
  server/src/controllers/post/post.controller.ts
  server/src/services/post/post.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Delete post API
  server/src/controllers/post/post.controller.ts
  server/src/services/post/post.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Add comments table and relation
  server/src/common/decorators/decorators.ts
  server/src/common/enums/db/db-table-name.enum.ts
  server/src/data/migrations/1681498940519-create_comments_table.ts
  server/src/entities/comment/comment.entity.ts
  server/src/entities/post/post.entity.ts
  server/src/modules/app/app.module.ts
  server/src/typeorm.config.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Create comment API
  server/src/common/dtos/comment/comment-create-request.dto.ts
  server/src/common/dtos/comment/comment.ts
  server/src/common/dtos/dtos.ts
  server/src/controllers/comment/comment.controller.ts
  server/src/modules/app/app.module.ts
  server/src/modules/comment/comment.module.ts
  server/src/modules/post/post.module.ts
  server/src/services/comment/comment.service.ts
  shared/src/common/enums/api/api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:server:js

Return comments with post, found by id
  server/src/services/post/post.service.ts
  shared/src/common/types/comment/comment-response-dto.type.ts
  shared/src/common/types/comment/comment.ts
  shared/src/common/types/post/post-with-comments-response-dto.type.ts
  shared/src/common/types/post/post.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:server:js

Add react router
  client/package-lock.json
  client/package.json
  client/src/app.tsx
  client/src/common/enums/app/app-route.enum.ts
  client/src/common/enums/app/app.ts
  client/src/common/enums/enums.ts
  client/src/common/types/types.ts
  client/src/components/components.tsx
  client/src/index.tsx
  client/src/pages/home/home.tsx
  client/src/pages/pages.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

Add http service
  client/src/common/enums/content/content.ts
  client/src/common/enums/enums.ts
  client/src/common/enums/http/http.ts
  client/src/common/types/http/http.ts
  client/src/common/types/types.ts
  client/src/exceptions/exceptions.ts
  client/src/exceptions/http/http.ts
  client/src/services/http/http.service.ts
  client/src/services/services.ts
  shared/src/common/enums/content/content-type.enum.ts
  shared/src/common/enums/content/content.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/http/http-code.enum.ts
  shared/src/common/enums/http/http-header.enum.ts
  shared/src/common/enums/http/http-method.enum.ts
  shared/src/common/enums/http/http.ts
  shared/src/common/types/http/http-options.type.ts
  shared/src/common/types/http/http.ts
  shared/src/common/types/types.ts
  shared/src/exceptions/exceptions.ts
  shared/src/exceptions/http-error/http-error.exception.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:js

Add post api service
  client/src/common/enums/api/api.ts
  client/src/common/enums/enums.ts
  client/src/common/types/post/post.ts
  client/src/services/post-api/post-api.service.ts
  shared/src/common/types/post/post-create-request-dto.type.ts
  shared/src/common/types/post/post-response-dto.type.ts
  shared/src/common/types/post/post-update-request-dto.type.ts
  shared/src/common/types/post/post-with-comments-response-dto.type.ts
  shared/src/common/types/post/post.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:js

Add comments api service
  client/.env.example
  client/package.json
  client/src/common/enums/app/app.ts
  client/src/common/enums/app/env.enum.ts
  client/src/common/enums/enums.ts
  client/src/common/types/comment/comment.ts
  client/src/common/types/types.ts
  client/src/services/comment-api/comment-api.service.ts
  client/src/services/services.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/types/comment/comment-create-request-dto.type.ts
  shared/src/common/types/comment/comment.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:js

Redux toolkit configuration
  client/package-lock.json
  client/package.json
  client/src/common/types/app/app-dispatch.type.ts
  client/src/common/types/app/app-state.type.ts
  client/src/common/types/app/app.ts
  client/src/common/types/app/async-thunk-config.type.ts
  client/src/common/types/types.ts
  client/src/hooks/hooks.ts
  client/src/hooks/use-app-dispatch/use-app-dispatch.hook.ts
  client/src/hooks/use-app-selector/use-app-selector.hook.ts
  client/src/index.tsx
  client/src/store/actions.ts
  client/src/store/root-reducer.ts
  client/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

Create actions, reducers for pages
  client/src/common/enums/data/data-status.enum.ts
  client/src/common/enums/data/data.ts
  client/src/common/enums/enums.ts
  client/src/store/actions.ts
  client/src/store/home/actions.ts
  client/src/store/home/common.ts
  client/src/store/home/reducer.ts
  client/src/store/post-create/actions.ts
  client/src/store/post-create/common.ts
  client/src/store/post-create/reducer.ts
  client/src/store/post-update/actions.ts
  client/src/store/post-update/common.ts
  client/src/store/post-update/reducer.ts
  client/src/store/post/actions.ts
  client/src/store/post/common.ts
  client/src/store/post/reducer.ts
  client/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

Create initial home page
  .lintstagedrc.yml
  client/package-lock.json
  client/package.json
  client/src/common/enums/app/app-route.enum.ts
  client/src/components/components.tsx
  client/src/components/post-info/post-info.tsx
  client/src/components/post-info/styles.module.scss
  client/src/helpers/get-formatted-date/get-formatted-date.helper.ts
  client/src/helpers/helpers.ts
  client/src/hooks/hooks.ts
  client/src/pages/home/home.tsx
  client/src/store/root-reducer.ts
  client/tsconfig.json
  client/typings.d.ts
  server/.env.example
  server/src/common/enums/app/env.enum.ts
  server/src/main.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js, npm run lint:client:css, npm run lint:client:js

Post Create initial markup
  client/.env.example
  client/package-lock.json
  client/package.json
  client/src/app.tsx
  client/src/common/enums/app/app-route.enum.ts
  client/src/common/enums/app/env.enum.ts
  client/src/common/types/form/form-control-path.type.ts
  client/src/common/types/form/form.ts
  client/src/common/types/types.ts
  client/src/common/types/validation/validation.ts
  client/src/components/components.tsx
  client/src/components/input/input.tsx
  client/src/components/input/styles.module.scss
  client/src/components/text-editor/text-editor.tsx
  client/src/helpers/get-form-validation-resolver/get-form-validation-resolver.helper.ts
  client/src/helpers/helpers.ts
  client/src/hooks/hooks.ts
  client/src/hooks/use-app-form/use-app-form.hook.ts
  client/src/hooks/use-form-controller/use-form-controller.hook.ts
  client/src/pages/pages.tsx
  client/src/pages/posts-new/common.ts
  client/src/pages/posts-new/posts-new.tsx
  client/src/validation-schemas/post/post.ts
  client/src/validation-schemas/validation-schemas.ts
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/enums.ts
  shared/src/common/enums/post/post-validation-custom-message.enum.ts
  shared/src/common/enums/post/post.ts
  shared/src/common/types/types.ts
  shared/src/common/types/validation/validation-schema.type.ts
  shared/src/common/types/validation/validation.ts
  shared/src/helpers/get-name-of/get-name-of.helper.ts
  shared/src/helpers/helpers.ts
  shared/src/validation-schemas/post/post-create.validation-schema.ts
  shared/src/validation-schemas/post/post.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:css, npm run lint:client:js

Add initial post page
  client/src/app.tsx
  client/src/common/enums/app/app-route.enum.ts
  client/src/common/types/comment/comment.ts
  client/src/common/types/types.ts
  client/src/helpers/helpers.ts
  client/src/hooks/hooks.ts
  client/src/pages/pages.tsx
  client/src/pages/post/common.ts
  client/src/pages/post/post.tsx
  client/src/pages/post/styles.module.scss
  client/src/store/post/actions.ts
  client/src/store/post/common.ts
  client/src/store/post/reducer.ts
  client/src/validation-schemas/comment/comment.ts
  client/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/comment/comment-validation-custom-message.enum.ts
  shared/src/common/enums/comment/comment.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/comment/comment-create-form-dto.type.ts
  shared/src/common/types/comment/comment.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/comment/comment-create.validation-schema.ts
  shared/src/validation-schemas/comment/comment.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:css, npm run lint:client:js

Add notifications
  .gitignore
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/common/enums/enums.ts
  client/src/common/enums/notification/notification-message.enum.ts
  client/src/common/enums/notification/notification-type.enum.ts
  client/src/common/enums/notification/notification.ts
  client/src/components/components.tsx
  client/src/components/toast/toast.tsx
  client/src/hooks/use-app-form/use-app-form.hook.ts
  client/src/index.tsx
  client/src/pages/post/post.tsx
  client/src/pages/post/styles.module.scss
  client/src/services/notification/notification.service.ts
  client/src/services/services.ts
  client/src/store/post-create/actions.ts
  client/src/store/post-update/actions.ts
  client/src/store/post/actions.ts
  client/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:client:css, npm run lint:client:js

Add Post update page
  client/public/index.html
  client/src/app.tsx
  client/src/common/enums/app/app-route.enum.ts
  client/src/components/button/button.tsx
  client/src/components/button/styles.module.scss
  client/src/components/components.tsx
  client/src/components/post-info/post-info.tsx
  client/src/components/text-editor/styles.module.scss
  client/src/components/text-editor/text-editor.tsx
  client/src/pages/pages.tsx
  client/src/pages/post-update/common.ts
  client/src/pages/post-update/post-update.tsx
  client/src/pages/post-update/styles.module.scss
  client/src/pages/post/post.tsx
  client/src/pages/post/styles.module.scss
  client/src/pages/posts-new/posts-new.tsx
  client/src/pages/posts-new/styles.module.scss
  client/src/validation-schemas/post/post.ts
  client/src/validation-schemas/validation-schemas.ts
  shared/src/validation-schemas/post/post-update.validation-schema.ts
  shared/src/validation-schemas/post/post.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:css, npm run lint:client:js

Add navigation service, fix some styles
  client/package-lock.json
  client/package.json
  client/src/components/components.tsx
  client/src/components/post-info/post-info.tsx
  client/src/components/post-info/styles.module.scss
  client/src/index.tsx
  client/src/pages/home/home.tsx
  client/src/services/navigation/navigation.service.ts
  client/src/services/services.ts
  client/src/store/home/actions.ts
  client/src/store/home/common.ts
  client/src/store/home/reducer.ts
  client/src/store/post-create/actions.ts
  client/src/store/post-update/actions.ts
  client/src/store/post/actions.ts
  client/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:client:css, npm run lint:client:js

Add navbar
  client/src/app.tsx
  client/src/components/components.tsx
  client/src/components/navbar/common.ts
  client/src/components/navbar/navbar.tsx
  client/src/components/navbar/styles.module.scss
  client/src/pages/post-update/post-update.tsx
  client/src/pages/post-update/styles.module.scss
  client/src/pages/posts-new/posts-new.tsx
  client/src/pages/posts-new/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:client:css, npm run lint:client:js

Add Readme
  README.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

Fix README
  README.md
  server/README.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

Add Spinner
  client/src/components/components.tsx
  client/src/components/spinner/spinner.tsx
  client/src/components/spinner/styles.module.scss
  client/src/pages/home/home.tsx
  client/src/pages/post-update/post-update.tsx
  client/src/pages/post/post.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:client:css, npm run lint:client:js

Update backend ESLint rules
  README.md
  server/.eslintignore
  server/.eslintrc.js
  server/src/common/dtos/comment/comment-create-request.dto.ts
  server/src/common/dtos/post/post-create-request.dto.ts
  server/src/common/dtos/post/post-update-request.dto.ts
  server/src/controllers/app/app.controller.ts
  server/src/controllers/post/post.controller.ts
  server/src/entities/base/base.entity.ts
  server/src/entities/comment/comment.entity.ts
  server/src/entities/entities.ts
  server/src/entities/post/post.entity.ts
  server/src/main.ts
  server/src/modules/app/app.module.ts
  server/src/modules/comment/comment.module.ts
  server/src/services/app/app.service.ts
  server/src/services/comment/comment.service.ts
  server/src/services/post/post.service.ts
  server/src/typeorm.config.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

Add handleError middleware to redux
  client/src/common/types/notification/notification-payload.type.ts
  client/src/common/types/notification/notification.ts
  client/src/common/types/store/middleware-arguments.type.ts
  client/src/common/types/store/store.ts
  client/src/common/types/types.ts
  client/src/store/actions.ts
  client/src/store/app/actions.ts
  client/src/store/app/common.ts
  client/src/store/middlewares/handle-error/handle-error.middleware.ts
  client/src/store/middlewares/middlewares.ts
  client/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js
